body{
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.main{
    height: 100vh;
    width: 100vw;
    background-color: #3B3486;
    overflow: hidden;
}
svg{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.inputs{
    
    position: relative;
    width: 250px;
    height: 250px;
    display: inline-block;
    top: 54%;
    left: 33%;
    transform: translate(-50%, -50%);
}

.buttons{
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}
.input{
    border: 6px solid #F8E559;
    color:#F8E559;
    background-color: #22092C;
    position: absolute;
    display: inline-block;
    outline: none;
    width:170px;
    height: 65px;
    outline:none;
    font-size: 55px;
    font-weight: 900;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn{
    border: none;
    outline: none;
    font-size: 50px;
    background-color: transparent;
    color: #22092C;
}

.startBtn{
    
    display: inline-block;
    margin-right:10px;
}
.pauseBtn{
    display: inline-block;
}

.disabled{
    color:#F8E559;
}

/* media query for width above 400 */

@media screen and ( min-width: 395px ) and ( max-width: 450px )
{
    .inputs{
        left: 30%;
    }
   
}

@media screen and ( min-width: 450px ){
    body{
        height: 100vh;
        width: 100vw;
        background-color: #332941;
        overflow: hidden;
    }
    .main{
        position: relative;
        top: 50%;
        left: 50%;
        height: 90%;
        width: 50%;
        background-color: #864AF9;
        border-radius: 5%;
        transform: translate(-50%, -50%);
       
    }
    .inputs{
        width: 300px;
        height: 300px;
        top: 54%;
        left: 20%;
        
        
    }
    .input{
        background-color: #332941;
        border: 10px solid #F8E559;
    }
    .btn{
        color:#332941;
        font-size: 80px;
    }
    svg{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 500px;
        width: 500px;
    }
    circle{
        stroke: #F8E559;
        stroke-width: 40px;
    }
    .disabled{
        color:#F8E559;
    }

    .startBtn{
        margin-right:10px;
        
    }
    .btn:hover{
        color: #B7E5B4;  
        transform: translateY(-3px);
        
    }
    .btn:active{
        transform: translateY(0);
    }
    

}